# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Git
.git/
.gitignore

# IDE
.idea/

# Tests
tests/
.pytest_cache/

# Логи
app/logs/*
*.log

# Переменные окружения
.env
.testenv

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Документация
*.md

# PowerShell
*.ps1